* {
	box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

h1{
  text-align: center;
}

.row > div {
  margin-bottom: 20px;
}

/** HEADER **/

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}


.navbar-brand h1 { /* Restaurant name */
  	font-family: 'Lora', serif;
  	color: #557c3e;
  	font-size: 1.5em;
  	text-transform: uppercase;
  	font-weight: bold;
  	text-shadow: 1px 1px 1px #222;
  	margin-top: 0;
  	margin-bottom: 0;
  	line-height: .75;
}

.content-box{
	border-width: 3px;
	border-style: solid;
	border-color: black;
  background-color:#21001f; 
}

#nav-list a{
  color: #951C49;
  text-align: center;
}

#nav-list a:hover{
  color: #E7E7E7;
}

.section-header{
  text-align: center;
  font-size: 1.5em;
}